@import "../../scss/_vars.scss";

.wrapp {
  position: fixed;
  padding: $mainOffset;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bgColor;
  transform: translateY(-150%);
  transition: transform 0.3s;
  z-index: 2010;

  &.open {
    transform: translateY(0);
  }
}
