@import "../../scss/vars.scss";

.welcome {
  .welcome__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    color: $textColor;
    background-color: $bgColor;
  }
  .welcome__buttons {
    margin-bottom: 2rem;
  }
  .welcome__btn + .welcome__btn {
    margin-left: 1rem;
  }
  .welcome__about {
    position: relative;
    left: 40px;
    max-width: 500px;
    padding: $mainOffset;

    ul {
      padding-left: calc($mainOffset * 2);
    }
    li {
      padding-left: 0;
      margin-left: 0;
    }
  }
}
