$mainOffset: var(--main-offsset);
$textColor: var(--textColor);
$bgColor: var(--bgColor);
$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);
$warningColor: var(--warningColor);
$vh: var(--vh);
